header {
    background-color: #80817e;
    font-size: 24px;
    text-align: center;
    height: 70px;
    padding-top: 15px;
}

a {
    color: #000000;
}

body {
    background-color: #b3b2b3;
}

.footer {
position: fixed;
bottom: 0;
background-color: #80817e;
width: 100%;
text-size: 18px;
text-align: center;
}