<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('main_window') }}">
      <i class="fas fa-car me-2"></i>AutoMarket
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('main_window') }}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Каталог</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Категории
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Легковые</a></li>
            <li><a class="dropdown-item" href="#">Внедорожники</a></li>
            <li><a class="dropdown-item" href="#">Коммерческие</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Электромобили</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">О компании</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Контакты</a>
        </li>
      </ul>
      <div class="d-flex">
        <div class="dropdown me-3">
          <button class="btn btn-outline-light dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user me-1"></i>Аккаунт
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="#"><i class="fas fa-sign-in-alt me-1"></i>Войти</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-user-plus me-1"></i>Регистрация</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-heart me-1"></i>Избранное</a></li>
          </ul>
        </div>
        <button class="btn btn-primary">
          <i class="fas fa-plus me-1"></i>Добавить авто
        </button>
      </div>
    </div>
  </div>
</nav>